# Python
__pycache__/
*.pyc
*.pyo
*.pyd

# Environment
venv/
.env

# Data
datasets/**/images/
datasets/**/*.csv/
data/
*.zip
*.tar
*.csv

# Models
models/
*.pt
*.pth

# Logs
logs/
wandb/
mlruns/

# IDE
.vscode/
.idea/

# OS
.DS_Store

# experiments
experiments/
